body {
	font-family: system-ui;
	min-width: 1500px;
    max-width: 1500px;

  background: linear-gradient(Gray, LightSteelBlue, LightSteelBlue, teal, Gray);
  background-position: 0 0;
  animation: background 3s infinite alternate;
}

@keyframes background {
  80% {
    background-position: 0 200px;
  }	}



.wrapper {
  display: flex;
}
.block1 {
  border-radius: 40px 0px 0px 15px;
  display: inline-block;
  width: 1400px;
  border: 5px inset #D3D3D3;
  margin: 2px;
	
	background: radial-gradient(Beige, BurlyWood, AntiqueWhite);
	background-position: 0 0;
	animation: background 9s infinite alternate;
	animation: none !important;
  
}
.block2 {
  border-radius: 0px 25px 40px 0px;
	border: 5px inset #D3D3D3;
  display: inline-block;
  width: 256px;
	
	background: linear-gradient(SlateGrey, BurlyWood, BurlyWood, DarkKhaki, SlateGrey);
	background-position: 0 0;
	animation: background 9s infinite alternate;
	animation: none !important;
}
.line1 {
	border-bottom: 5px dotted black;
	padding-bottom: 5px;
}
.line2 {
	text-align:center;
	border-bottom: 5px double black;
	padding-top: 5%;
	font-family: DejaVu Sans Mono, monospace;
}

.photo {
	
	background-image: url("https://qcandrey.github.io/profile/profile-n.jpg");
	border-radius: 0px 25px 0px 0px;
	background-repeat: no-repeat;
	display: block;
	justify-content: center;
	align-items: center;
	padding-top: 3%;
	width: 256px;
	height: 256px;
	cursor: zoom-in;
}

.photo:hover {
	background-image: url("https://qcandrey.github.io/profile/profile2-n.jpg");
	margin-left: 25px;
	background-repeat: no-repeat;
	display: block;
	justify-content: center;
	align-items: center;
	padding-top: 3%;
	width: 256px;
	height: 256px;
	cursor: zoom-in;
}

img {
	width: 90%;
	height: 90%;
	border-radius: 0px 15px 0px 0px;
	outline: 6px double black;
	pointer-events: none;
}

h1, h2, h3 {
	text-align: center;
	margin: 0px;
}
p {
	padding-left: 1%;
}
.attention {
	font-weight: 700;
	font-family: serif;
}
a {
color: #000000;
}
